.archives {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: #fff;
    @media only screen and (max-width: 978px) {
        & {
            padding-top: .45rem;
        }
    }
    .back {
        position: fixed;
        top: .2rem;
        left: .2rem;
        a {
            width: .5rem;
            height: .5rem;
            line-height: .5rem;
            border-radius: .25rem;
            font-size: .20rem;
            text-align: center;
            color: #fff;
            background-color: #333;
            transition: background-color 500ms ease-in-out, border-radius 500ms ease-in-out;
            position: relative;
            span {
                position: absolute;
                font-size: .12rem;
                top: 50%;
                margin-top: -.17rem;
                left: .56rem;
                background-color: #333;
                width: 1rem;
                height: .34rem;
                line-height: .34rem;
                border-radius: .04rem;
                opacity: 0;
                visibility: hidden;
                transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
                &:before {
                    display: block;
                    content: "";
                    position: absolute;
                    border: .06rem solid;
                    top: 50%;
                    left: -.1rem;
                    margin-top: -.06rem;
                    border-color: transparent #333 transparent transparent;
                }
            }
            &:hover {
                background-color: #5e578e;
                border-radius: .06rem;
                span {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .container {
        box-sizing: border-box;
        max-width: 9rem;
        margin: 0 auto 0 auto;
        padding: .2rem .4rem;
        background-color: #fff;
        border-radius: .04rem;
        .year {
            display: block;
            width: 100%;
            margin-bottom: .2rem;
            position: relative;
            top: 0;
            left: 0;
            &:last-child {
                margin-bottom: 0;
            }
            h1 {
                display: inline-block;
                font-size: .22rem;
                color: #333;
                font-weight: 400;
                position: absolute;
                top: .10rem;
                left: .2rem;
                @media only screen and (max-width: 640px) {
                    & {
                        position: relative;
                        margin-bottom: .05rem;
                        left: 0;
                    }
                }
            }
            .items {
                display: block;
                margin-left: 1rem;
                @media only screen and (max-width: 640px) {
                    & {
                        margin-left: .07rem;
                    }
                }
                ul {
                    li {
                        color: #7b7b7b;
                        .archive {
                            padding: .15rem 0;
                            position: relative;
                            .date {
                                position: absolute;
                                top: .15rem;
                                left: 0;
                                span {
                                    font-size: .18rem;
                                    font-weight: 400;
                                }
                                span.month {
                                    font-size: .12rem;
                                    margin-left: .08rem;
                                }
                            }
                            .item {
                                font-size: .14rem;
                                margin-left: 1rem;
                                border-bottom: .01rem dotted #ddd;
                                padding-bottom: .15rem;
                                @media only screen and (max-width: 640px) {
                                    & {
                                        margin-left: .6rem;
                                    }
                                }
                                .title {
                                    display: block;
                                    position: relative;
                                    span {
                                        font-size: .16rem;
                                        height: .24rem;
                                        display: table-cell;
                                        vertical-align: bottom;
                                        max-width: 3.2rem;
                                        text-overflow: ellipsis;
                                        overflow:hidden;
                                        white-space: nowrap;
                                        color: #333;
                                        @media only screen and (min-width: 641px) {
                                            & {
                                                padding-left: 0;
                                                border-left: 0 solid #5e578e;
                                                transition: color 200ms ease-in-out,
                                                padding-left 200ms ease-in-out,
                                                border-left-width 200ms ease-in-out;
                                            }
                                        }
                                    }
                                    &:hover {
                                        span {
                                            @media only screen and (min-width: 641px) {
                                                & {
                                                    border-left-width: 4px;
                                                    color: #5e578e;
                                                    padding-left: 5px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .prop {
                                    margin-top: .1rem;
                                    height: .2rem;
                                    line-height: .2rem;
                                    color: #bbb;
                                    font-size: .12rem;
                                    &:before, &:after {
                                        display: block;
                                        content: "";
                                        clear: both;
                                    }
                                    :global(.fa) {
                                        height: .2rem;
                                        line-height: .2rem;
                                    }
                                    .comments {
                                        float: left;
                                        height: .2rem;
                                        line-height: .2rem;
                                        margin-left: .2rem;
                                        cursor: pointer;
                                        span {
                                            display: inline-block;
                                            margin-left: .1rem;
                                        }
                                        &:hover {
                                            color: #999;
                                        }
                                    }
                                    .tags {
                                        float: right;
                                        height: .2rem;
                                        line-height: .2rem;
                                        margin-right: .2rem;
                                        span {
                                            display: inline-block;
                                            margin-left: .1rem;
                                            cursor: pointer;
                                            &:hover {
                                                color: #999;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .copyright {
            color: #999;
            text-align: right;
        }
    }
}
